**/.DS_Store
.AppleDouble
.LSOverride
node_modules/
.tmp/
prepros.cfg
prepros-6.config
prepros.config
package.json
package-lock.json
scss/
**/.sass-cache
**/.sass-cache/*
.vscode/*
# Local Netlify folder
.netlify