<!-- Prepurchase upsell: checkbox bump with image + feature list -->
<div class="bump" data-next-await="">
  <div
    class="bump-card"
    data-next-package-toggle
    data-next-package-id="4"
    data-next-package-sync="1"
    data-next-is-upsell="true"
  >
    <div class="bump-header">
      <div class="bump-checkbox">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          width="100%"
          height="100%"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="m6 10l-2 2l6 6L20 8l-2-2l-8 8z"
          />
        </svg>
      </div>
      <span class="bump-title">Get <span data-next-toggle-display="name"></span></span>
    </div>
    <div class="bump-body">
      <div class="bump-content">
        <div class="bump-details">
          <div class="bump-price">
            <del data-next-toggle-display="originalUnitPrice" class="bump-price-original"></del>
            <span data-next-toggle-display="unitPrice" class="bump-price-current"></span>
          </div>
          <ul class="bump-features">
            <li>1 year with our replacement and protection</li>
            <li>Accidental Damage Protection</li>
            <li>Express Replacement Service</li>
            <li>24/7 Priority Customer Support</li>
          </ul>
        </div>
        <img
          loading="lazy"
          data-next-toggle-display="image"
          alt=""
          src="{{ 'images/1x1_1.svg' | campaign_asset }}"
          class="bump-image"
        />
      </div>
    </div>
  </div>
</div>
