<!-- Prepurchase upsell: flat checkbox bump with arrows -->
<div class="bump" data-next-await="">
  <div
    class="bump-card bump-card--flat"
    data-next-package-toggle
    data-next-package-id="6"
    data-next-is-upsell="true"
  >
    <div class="bump-header">
      <div class="bump-checkbox">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          width="100%"
          height="100%"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="m6 10l-2 2l6 6L20 8l-2-2l-8 8z"
          />
        </svg>
      </div>
      <span class="bump-title">YES, &nbsp;I Will Take It</span>
      <div data-animate="right" class="bump-arrow">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          width="100%"
          height="100%"
          viewBox="0 0 24 24"
        >
          <path
            d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z"
            fill="currentColor"
          />
        </svg>
      </div>
      <div data-animate="left" class="bump-arrow bump-arrow--right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          width="100%"
          height="100%"
          viewBox="0 0 24 24"
        >
          <path
            d="M4.431 12.822l13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z"
            fill="currentColor"
          />
        </svg>
      </div>
    </div>
    <div class="bump-body">
      <div class="bump-content">
        <img
          data-next-display="package.6.image"
          loading="lazy"
          alt=""
          src="{{ 'images/icon.svg' | campaign_asset }}"
          class="bump-image bump-image--sm"
        />
        <p class="bump-description">
          Get peace of mind with
          <span data-next-display="package.6.name">Shipping Guarantee</span> in
          the event your delivery is damaged, stolen, or lost during transit for
          <span data-next-toggle-display="price">$1.99</span>
        </p>
      </div>
    </div>
  </div>
</div>
