<section class="checkout-header checkout-header--apollo">
  <div class="container">
    <div class="checkout-header__inner">
      <div class="checkout-header__brand">
        <img src="{{ 'images/next-logo.png' | campaign_asset }}" loading="eager" alt="{{ campaign.store_name }}" class="checkout-header__logo">
      </div>
      <span class="checkout-header__divider" aria-hidden="true"></span>
      <div class="checkout-header__trust">
        <div class="checkout-header__reviews">
          <div class="star_wrapper" role="img" aria-label="5 out of 5 stars">
            {% for i in (1..5) %}<div class="star_img"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <rect width="15" height="15" rx="2" fill="#1BBA86"></rect>
              <path d="M7.3125 2.25012L8.53329 6.00734L12.4839 6.00734L9.28779 8.32943L10.5086 12.0867L7.3125 9.76456L4.11642 12.0867L5.33721 8.32943L2.14113 6.00734L6.09171 6.00734L7.3125 2.25012Z" fill="white"></path>
            </svg></div>{% endfor %}
          </div>
          <span class="checkout-header__reviews-text"><strong>10,000+</strong> 5-Star Reviews</span>
        </div>
        <ul class="checkout-header__badges">
          <li class="checkout-header__badge">
            <svg class="checkout-header__badge-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M20 8h-3V4H3c-1.1 0-2 .9-2 2v11h2a3 3 0 006 0h6a3 3 0 006 0h2v-5l-3-4zM6 18.5A1.5 1.5 0 116 15.5a1.5 1.5 0 010 3zm13.5-9l1.96 2.5H17V9.5h2.5zM18 18.5a1.5 1.5 0 110-3 1.5 1.5 0 010 3z"/></svg>
            <span>Free US Shipping</span>
          </li>
          <li class="checkout-header__badge">
            <svg class="checkout-header__badge-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm.31 16.93v1.41h-1.62v-1.43c-1.06-.22-2.64-1.06-2.76-2.85h1.19c.11.92.74 1.64 2.39 1.64 1.77 0 2.16-.89 2.16-1.43 0-.75-.4-1.45-2.4-1.93-2.23-.54-3.76-1.46-3.76-3.3 0-1.55 1.25-2.55 2.78-2.88V6.74h1.62v1.45c1.21.29 2.39 1.13 2.51 2.78h-1.19c-.1-.97-.62-1.64-2.13-1.64-1.43 0-2.29.65-2.29 1.57 0 .8.62 1.33 2.4 1.79 1.78.46 3.76 1.23 3.76 3.44-.01 1.65-1.25 2.56-2.86 2.8z"/></svg>
            <span>60-Day Guarantee</span>
          </li>
          <li class="checkout-header__badge">
            <svg class="checkout-header__badge-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4zm-2 16l-4-4 1.41-1.41L10 14.17l6.59-6.59L18 9l-8 8z"/></svg>
            <span>2 Year Warranty</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
